configuration {
  modi: "drun,run,window";
  show-icons: true;
  icon-theme: "Ant-Dark";
  drun-display-format: "{name}";
  display-drun: "Apps";
  display-run: "Run";
  display-window: "Windows";
}

@theme "~/.config/rofi/gruvbox.rasi"
